In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/user-hotel-ratings-data/user_hotel_interactions.csv
/kaggle/input/user-hotel-ratings-data/preprocessed_hotel_data_final_new.csv
/kaggle/input/user-hotel-ratings-data/user_profiles.csv

In [4]:
processed_data = pd.read_csv("/kaggle/input/user-hotel-ratings-data/preprocessed_hotel_data_final_new.csv")
processed_data

,hotel_name,hotel_id,rating,rating_description,review_count,star_rating,location,nearest_landmark,Distance_to_Landmark(in_km),price_per_night,...,amenity_business_center,amenity_meeting_rooms,amenity_bar,amenity_swimming_pool,amenity_parking,amenity_travel_desk,amenity_airport_shuttle,amenity_conference_hall,amenity_valet_parking,total_amenities_count
0,The Park Bangalore,806,3.9,Very Good,4187.0,5.0,Ulsoor,Unknown,-1.00,7567.0,...,0,0,0,0,0,0,0,0,0,0
1,"Keys Select by Lemon Tree Hotels, Whitefield, ...",1821,4.0,Very Good,2201.0,4.0,Brookefield,Unknown,-1.00,1509.0,...,0,0,0,0,0,0,0,0,0,0
2,ITC Windsor - A Luxury Collection Hotel,2427,4.4,Excellent,1315.0,5.0,Vasanth Nagar,Bangalore Palace,2.40,9900.0,...,0,0,0,0,0,0,0,0,0,0
3,Lemon Tree Premier Ulsoor Lake Bangalore,2685,4.0,Very Good,5089.0,5.0,Sivanchetti Gardens,Ulsoor Lake,0.77,2347.0,...,0,0,0,0,0,0,0,0,0,0
4,"Keys Select by Lemon Tree Hotels, Hosur Road, ...",34,4.0,Very Good,3290.0,4.0,Hosur road,Unknown,-1.00,2522.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4627,Amby Inn,4427,3.6,Unknown,81.0,-1.0,Unknown,Unknown,-1.00,4300.0,...,0,0,0,0,0,0,0,0,0,3
4628,Park Inn,467,3.4,Unknown,232.0,-1.0,Unknown,Unknown,-1.00,4300.0,...,0,0,0,0,0,0,0,0,0,3
4629,Sarovar Portico,3093,3.8,Unknown,407.0,-1.0,Unknown,Unknown,-1.00,4300.0,...,0,0,1,0,0,0,0,0,0,2
4630,Sheraton,3773,4.1,Unknown,409.0,-1.0,Unknown,Unknown,-1.00,4300.0,...,0,0,0,0,0,0,0,0,0,3
4631,Hotel Diplomat,861,3.5,Unknown,98.0,-1.0,Unknown,Unknown,-1.00,4300.0,...,0,0,0,0,0,0,0,0,0,3

In [5]:
user_hotel_interactions_data = pd.read_csv("/kaggle/input/user-hotel-ratings-data/user_hotel_interactions.csv")
user_hotel_interactions_data

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,interaction_id,user_id,hotel_id,interaction_type,interaction_date,rating,total_amount_inr,stay_duration,travel_purpose,advance_booking_days,cancellation_flag
0,1,1,70,Booked,2023-12-16,5.0,18468,5.0,Family_vacation,3.0,False
1,2,1,115,Booked,2023-10-18,5.0,37004,1.0,Family_vacation,0.0,False
2,3,1,123,Booked,2023-06-08,4.3,8322,4.0,Business,1.0,False
3,4,1,57,Reviewed,2023-03-24,4.6,40845,NaN,NaN,NaN,NaN
4,5,1,228,Reviewed,2023-07-06,5.0,7961,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1283,1284,299,369,Booked,2023-04-01,4.7,29525,5.0,Leisure,2.0,False
1284,1285,299,158,Reviewed,2023-10-30,5.0,42030,NaN,NaN,NaN,NaN
1285,1286,300,209,Reviewed,2023-05-20,4.1,6570,NaN,NaN,NaN,NaN
1286,1287,300,81,Booked,2023-09-21,5.0,13509,4.0,Leisure,0.0,False
1287,1288,300,17,Booked,2023-06-19,5.0,23716,4.0,Business,0.0,False

In [6]:
user_profiles_data = pd.read_csv("/kaggle/input/user-hotel-ratings-data/user_profiles.csv")
user_profiles_data

,user_id,age_group,gender,home_city,home_state,income_bracket_inr,family_type,budget_min_inr,budget_max_inr,vegetarian_preference,business_travel_frequency,travel_frequency,location_preference,booking_advance_days,preferred_amenities,interaction_count
0,1,30-40,Male,Pune,Maharashtra,15L+,Family_with_kids,7500,18000,False,0.37,Regular,Transport_hub,1,"[""pool"", ""family_rooms"", ""parking""]",6
1,2,50-60,Male,Bangalore,Karnataka,25L+,Couple,9600,24000,False,0.10,Occasional,Transport_hub,2,"[""spa"", ""gym"", ""room_service""]",3
2,3,22-30,Male,Chennai,Tamil Nadu,3-6L,Solo,1500,4000,True,0.52,Regular,City_center,10,"[""free_wifi"", ""business_center"", ""airport_shut...",4
3,4,22-30,Male,Kolkata,West Bengal,3-6L,Couple,1800,4800,False,0.65,Occasional,City_center,7,"[""free_wifi"", ""business_center"", ""airport_shut...",3
4,5,22-30,Male,Chennai,Tamil Nadu,10-15L,Solo,3500,8000,False,0.19,Regular,City_center,35,"[""free_wifi"", ""restaurant"", ""parking""]",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,22-30,Female,Hyderabad,Telangana,6-10L,Solo,2500,6000,False,0.22,Occasional,City_center,3,"[""free_wifi"", ""restaurant"", ""parking""]",3
296,297,22-30,Male,Mumbai,Maharashtra,3-6L,Solo,1500,4000,False,0.13,Frequent,Quiet_area,17,"[""free_wifi"", ""restaurant"", ""parking""]",7
297,298,40-50,Female,Chennai,Tamil Nadu,25L+,Couple,9600,24000,False,0.58,Occasional,City_center,26,"[""free_wifi"", ""business_center"", ""airport_shut...",3
298,299,30-40,Female,Kolkata,West Bengal,10-15L,Couple,4200,9600,False,0.10,Regular,Transport_hub,10,"[""free_wifi"", ""restaurant"", ""parking""]",6
299,300,22-30,Female,Pune,Maharashtra,6-10L,Solo,2500,6000,True,0.14,Occasional,Transport_hub,1,"[""free_wifi"", ""restaurant"", ""parking""]",3

In [7]:
#matrix = user_hotel_interactions_data.pivot_table(
    #index="user_id",
    #columns="hotel_id",
    #values="rating"
#).fillna(0)

In [8]:
#matrix

In [9]:
#from scipy.sparse import csr_matrix
#matrix_csr = csr_matrix(matrix.values)

In [10]:
#print("Shape of CSR matrix:", matrix_csr.shape)
#print("Number of stored elements (non-zero):", matrix_csr.nnz)

In [11]:
from surprise import Dataset, Reader, SVD
from surprise.model_selection import cross_validate
reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(user_hotel_interactions_data[['user_id', 'hotel_id', 'rating']], reader)
algo = SVD(n_factors=50, random_state=42)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
trainset = data.build_full_trainset()
algo.fit(trainset)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.6676  0.6231  0.5829  0.7284  0.6653  0.6535  0.0487
MAE (testset)     0.5021  0.4965  0.4568  0.5462  0.4964  0.4996  0.0284
Fit time          0.01    0.01    0.01    0.01    0.01    0.01    0.00
Test time         0.03    0.00    0.00    0.00    0.00    0.01    0.01

In [12]:
prediction = algo.predict(uid=1, iid=70)
print("Predicted rating for user 1 on hotel 70:", prediction.est)

Predicted rating for user 1 on hotel 70: 4.80715849783716

In [15]:
hotel_mapping = processed_data[['hotel_id', 'hotel_name']].drop_duplicates()
all_hotels = user_hotel_interactions_data['hotel_id'].unique()

def get_top_n_recommendations(user_id, n=5):
    rated_hotels = user_hotel_interactions_data[user_hotel_interactions_data['user_id'] == user_id]['hotel_id'].unique()
    hotels_to_predict = [h for h in all_hotels if h not in rated_hotels]
    predictions = [algo.predict(user_id, h) for h in hotels_to_predict]
    predictions.sort(key=lambda x: x.est, reverse=True)
    top_n = predictions[:n]
    df = pd.DataFrame([(pred.iid, pred.est) for pred in top_n], columns=["hotel_id", "predicted_rating"])
    df = df.merge(hotel_mapping, on="hotel_id", how="left")
    df = df[["hotel_id", "hotel_name", "predicted_rating"]]
    
    return df

In [16]:
top_hotels = get_top_n_recommendations(101, n=5)
print(top_hotels)

   hotel_id                                   hotel_name  predicted_rating
0       313  Anjuna 4BR Luxury Villa Aman w/private pool          4.896768
1       107                                 BISWAS HOTEL          4.758625
2       260                                   Blue bells          4.732575
3       212                             Koenig Inn Delux          4.730184
4       341                                   Ever Green          4.723176

In [19]:
import pickle
with open("svd_hotel_model.pkl", "wb") as f:
    pickle.dump(algo, f)